*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  position: relative;
}
*[hidden] {
  display: none;
}
body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 3.25rem 0 0 0;
}
a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #363636;
}
.no-spacing {
  padding: 0;
  margin: 0;
}
.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.text {
  color: #363636;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.label-text {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}
.header {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}
.is-1 {
  font-size: 3rem;
}
.is-2 {
  font-size: 2.5rem;
}
.is-3 {
  font-size: 2rem;
}
.is-4 {
  font-size: 1.5rem;
}
.is-5 {
  font-size: 1.25rem;
}
.is-6 {
  font-size: 1rem;
}
h1 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 3rem;
}
h2 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 2.5rem;
}
h3 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  font-size: 2rem;
}
h4 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1.5rem;
}
h5 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1.25rem;
}
h6 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1rem;
}
.border {
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.3125rem;
  border-color: lightgrey;
  overflow: hidden;
}
.page-container {
  min-width: min(720px, calc(100vw - 20px));
  max-width: 1440px;
  width: 70%;
  margin: auto;
}
.page-container-wide {
  min-width: min(720px, calc(100vw - 20px));
  max-width: 1800px;
  width: 85%;
  margin: auto;
}
.close-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
}
.close-button::before,
.close-button::after {
  background-color: white;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.close-button::before {
  height: 2px;
  width: 50%;
}
.close-button::after {
  height: 50%;
  width: 2px;
}
.close-button:hover {
  background-color: rgba(10, 10, 10, 0.3);
}
.has-icon-left {
  padding-left: 2.25em;
}
.vertical-margins-small {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

a-modal-background {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
  top: 0;
  width: 100%;
  height: 100%;
}
a-modal-background > .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.86);
}

a-modal {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
}
a-modal > header {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
a-modal > a-content-presenter {
  background-color: white;
  padding: 20px;
  overflow: auto;
}
a-modal > footer {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #dbdbdb;
}


.button-spacing {
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}
a-button {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}
a-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
a-button:hover {
  box-shadow: none;
}
a-button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
  /* &:hover:not([disabled]) {
        background-color: @hover-color;
    }

    &[disabled] {
        background-color: @disabled-color;
    }*/
}
a-button.is-primary:hover {
  background-color: #00c4a7;
}
a-button.is-success {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
  /* &:hover:not([disabled]) {
        background-color: @hover-color;
    }

    &[disabled] {
        background-color: @disabled-color;
    }*/
}
a-button.is-success:hover {
  background-color: #22c65b;
}
a-button.is-danger {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
  /* &:hover:not([disabled]) {
        background-color: @hover-color;
    }

    &[disabled] {
        background-color: @disabled-color;
    }*/
}
a-button.is-danger:hover {
  background-color: #ff2b56;
}
a-button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
  /* &:hover:not([disabled]) {
        background-color: @hover-color;
    }

    &[disabled] {
        background-color: @disabled-color;
    }*/
}
a-button.is-info:hover {
  background-color: #1496ed;
}
a-button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
  /* &:hover:not([disabled]) {
        background-color: @hover-color;
    }

    &[disabled] {
        background-color: @disabled-color;
    }*/
}
a-button.is-link:hover {
  background-color: #276cda;
}
a-button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: #fff;
  /* &:hover:not([disabled]) {
        background-color: @hover-color;
    }

    &[disabled] {
        background-color: @disabled-color;
    }*/
}
a-button.is-warning:hover {
  background-color: #ffdb4a;
}

a-icon {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  pointer-events: none;
}
a-icon.is-left {
  margin-right: 0.3em;
}
a-icon.is-left-absolute {
  position: absolute;
  display: block;
  left: 0.625em;
  top: 0.625em;
}

a-tooltip {
  display: block;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: white;
  color: #363636;
  z-index: 100;
  font-size: 1rem;
  padding: 0.5em;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: -webkit-min-content;
  height: min-content;
  top: 0;
  left: 0;
  opacity: 0;
  font-weight: normal;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  animation: show 0.3s;
  animation-fill-mode: forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a-tooltip-background {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  overflow: hidden;
}
a-tooltip-background > .spacer {
  flex-shrink: 1;
}
a-tooltip-background > .tooltip-container {
  flex-grow: 1;
}

a-nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 30;
  min-height: 3.25rem;
  box-shadow: 0 2px 0 0 #f5f5f5;
}
a-nav > .nav-left,
a-nav > .nav-right {
  display: none;
}
a-nav > .nav-left.active,
a-nav > .nav-right.active {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  a-nav.active > .nav-left,
  a-nav.active > .nav-right {
    display: flex;
    flex-direction: column;
  }
}
a-nav > .nav-home {
  align-self: flex-start;
  height: 3.25rem;
}
a-nav > .nav-toggle {
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 3.25rem;
  width: 3.25rem;
  cursor: pointer;
}
a-nav > .nav-toggle:hover {
  background-color: #fafafa;
  color: #3273dc;
}
a-nav > .nav-toggle > span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  transition-timing-function: ease-out;
  width: 16px;
}
a-nav > .nav-toggle > span:nth-child(1) {
  top: calc(50% - 6px);
}
a-nav > .nav-toggle > span:nth-child(2) {
  top: calc(50% - 1px);
}
a-nav > .nav-toggle > span:nth-child(3) {
  top: calc(50% + 4px);
}
a-nav.active > .nav-toggle > span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
a-nav.active > .nav-toggle > span:nth-child(2) {
  opacity: 0;
}
a-nav.active > .nav-toggle > span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
@media screen and (min-width: 769px) {
  a-nav {
    flex-direction: row;
  }
  a-nav::before {
    content: '';
    flex: 2 1 auto;
  }
  a-nav::after {
    content: '';
    flex: 1 1 auto;
  }
  a-nav > .nav-left {
    display: flex;
    flex-direction: row;
    flex: 6 1 auto;
  }
  a-nav > .nav-right {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  }
  a-nav > .nav-home {
    align-self: stretch;
  }
  a-nav > .nav-toggle {
    display: none;
  }
}
a-nav a {
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  color: #4a4a4a;
  text-decoration: none;
}
a-nav a.active {
  color: #209cee;
}
a-nav a:hover {
  background-color: #fafafa;
  color: #3273dc;
}
a-nav a img {
  max-height: 1.75rem;
  height: auto;
  max-width: 100%;
}

a-collapse {
  display: flex;
  flex-direction: column;
  background-color: white;
}
a-collapse > a-stack-panel {
  align-self: flex-start;
}
a-collapse-button {
  flex-shrink: 1;
  cursor: pointer;
  user-select: none;
  width: 1em;
  height: 1em;
  display: flex;
  align-self: center;
  margin-right: 0.5em;
  min-width: 1em;
}
a-collapse[open] a-collapse-button {
  transform: rotate(90deg);
}
a-collapse.wide > a-stack-panel {
  align-self: stretch;
}

.large-column {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
a-flex-panel {
  display: flex;
  padding: 0.25em;
  margin: 0.25em;
}
a-flex-panel.horizontal {
  flex-direction: row;
}
a-flex-panel.horizontal.reverse {
  flex-direction: row-reverse;
}
a-flex-panel.vertical {
  flex-direction: column;
}
a-flex-panel.vertical.reverse {
  flex-direction: column-reverse;
}
a-flex-panel.wrap {
  flex-wrap: wrap;
}
a-flex-panel.wrap.reverse {
  flex-wrap: wrap-reverse;
}
a-flex-panel.spacing-none {
  padding: 0;
  margin: 0;
}
a-flex-panel.child-spacing-small.horizontal > * {
  margin-right: 0.25em;
}
a-flex-panel.child-spacing-small.horizontal > *:last-child {
  margin-right: 0em;
}
a-flex-panel.child-spacing-small.vertical > * {
  margin-bottom: 0.25em;
}
a-flex-panel.child-spacing-small.vertical > *:last-child {
  margin-bottom: 0em;
}
a-flex-panel.child-spacing.horizontal > * {
  margin-right: 0.5em;
}
a-flex-panel.child-spacing.horizontal > *:last-child {
  margin-right: 0em;
}
a-flex-panel.child-spacing.vertical > * {
  margin-bottom: 0.5em;
}
a-flex-panel.child-spacing.vertical > *:last-child {
  margin-bottom: 0em;
}
a-flex-panel.child-spacing-large.horizontal > * {
  margin-right: 1em;
}
a-flex-panel.child-spacing-large.vertical > * {
  margin-bottom: 1em;
}
a-flex-panel.child-spacing-small-inclusive.horizontal > * {
  margin-right: 0.25em;
}
a-flex-panel.child-spacing-small-inclusive.horizontal > *:last-child {
  margin-right: 0em;
}
a-flex-panel.child-spacing-small-inclusive.vertical > * {
  margin-bottom: 0.25em;
}
a-flex-panel.child-spacing-small-inclusive.vertical > *:last-child {
  margin-bottom: 0em;
}
a-flex-panel.child-spacing-inclusive.horizontal > * {
  margin-right: 0.5em;
}
a-flex-panel.child-spacing-inclusive.vertical > * {
  margin-bottom: 0.5em;
}
a-flex-panel.child-spacing-large-inclusive.horizontal > * {
  margin-right: 1em;
}
a-flex-panel.child-spacing-large-inclusive.vertical > * {
  margin-bottom: 1em;
}
a-flex-panel.large-columns {
  flex-direction: row;
  flex-wrap: wrap;
}
a-flex-panel.large-columns > * {
  flex-basis: 0;
  flex-grow: 1;
  min-width: min(600px, 100%);
  margin-left: 0.25em;
  margin-right: 0.25em;
}

a-toggle-button {
  border: 0.125rem solid lightgrey;
  border-radius: 0.3125rem;
  padding: 0.125rem;
  position: relative;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
a-toggle-button[toggled] {
  border-color: #1e90ff;
  background-color: #1e90ff;
}
a-toggle-button:hover {
  border-color: #1e90ff;
}

table {
  background-color: white;
  color: #363636;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead {
  background-color: transparent;
}
table tbody {
  background-color: transparent;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: whitesmoke;
}
table tr:last-child th {
  border-bottom-width: 1px;
  border: 1px solid #dbdbdb;
  padding: 0.5em 0.75em;
  vertical-align: top;
}
table tr:nth-child(even) td,
table tr:nth-child(even) th {
  background-color: #fafafa;
}
table td {
  border: 1px solid #dbdbdb;
  padding: 0.5em 0.75em;
  vertical-align: top;
  text-align: left;
  background-clip: padding-box;
}
table th {
  text-align: left;
}
table > thead > tr > th:not([sortingDisabled]) {
  cursor: pointer;
}
table > thead > tr > th[sort='ascending']:after {
  content: '▲';
}
table > thead > tr > th[sort='descending']:after {
  content: '▼';
}
.th-min-width-normal th {
  min-width: 8rem;
}

a-progress {
  width: 6em;
  height: 2.25em;
  font-size: 1rem;
}
a-progress > div {
  height: 100%;
  background-color: limegreen;
}
a-progress > a-stack-panel {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
a-progress > a-stack-panel > div {
  margin: auto;
}
a-progress.indeterminate {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: moveIndeterminate;
  animation-name: moveIndeterminate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background-image: linear-gradient(to right, limegreen 30%, rgba(0, 0, 0, 0) 30%);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}
@-webkit-keyframes moveIndeterminate {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
@keyframes moveIndeterminate {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  position: relative;
}
*[hidden] {
  display: none;
}
body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 3.25rem 0 0 0;
}
a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #363636;
}
.no-spacing {
  padding: 0;
  margin: 0;
}
.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.text {
  color: #363636;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.label-text {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}
.header {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}
.is-1 {
  font-size: 3rem;
}
.is-2 {
  font-size: 2.5rem;
}
.is-3 {
  font-size: 2rem;
}
.is-4 {
  font-size: 1.5rem;
}
.is-5 {
  font-size: 1.25rem;
}
.is-6 {
  font-size: 1rem;
}
h1 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 3rem;
}
h2 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 2.5rem;
}
h3 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  font-size: 2rem;
}
h4 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1.5rem;
}
h5 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1.25rem;
}
h6 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1rem;
}
.border {
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.3125rem;
  border-color: lightgrey;
  overflow: hidden;
}
.page-container {
  min-width: min(720px, calc(100vw - 20px));
  max-width: 1440px;
  width: 70%;
  margin: auto;
}
.page-container-wide {
  min-width: min(720px, calc(100vw - 20px));
  max-width: 1800px;
  width: 85%;
  margin: auto;
}
.close-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
}
.close-button::before,
.close-button::after {
  background-color: white;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.close-button::before {
  height: 2px;
  width: 50%;
}
.close-button::after {
  height: 50%;
  width: 2px;
}
.close-button:hover {
  background-color: rgba(10, 10, 10, 0.3);
}
.has-icon-left {
  padding-left: 2.25em;
}
.vertical-margins-small {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.label-text {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}
.headed-label {
  color: #363636;
  font-size: 1rem;
  font-weight: normal;
}
.headed-label > header {
  font-weight: bold;
  display: inline;
}

a-select {
  height: 2.25em;
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  text-align: left;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}
a-select select {
  background-color: transparent;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: none;
  box-shadow: none;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-top: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: 2.5em;
  position: relative;
  vertical-align: top;
  margin: 0;
}
a-select select:hover {
  border-color: #b5b5b5;
}
a-select:not(.is-loading)::after {
  border: 3px solid #3273dc;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1.125em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: 0.625em;
  z-index: 4;
}
a-select.is-loading::after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  z-index: 4;
  margin-top: 0;
  position: absolute;
  right: 0.625em;
  top: 0.625em;
  -webkit-transform: none;
  transform: none;
}
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

a-placeholder {
  position: absolute;
  top: 0.35em;
  left: 0.59em;
  line-height: 1.5;
  color: rgba(54, 54, 54, 0.3);
  user-select: none;
  cursor: pointer;
  pointer-events: none;
}

.hide-error a-validation-label {
  display: none;
}

.hide-error a-validation-label {
  display: none;
}
a-text-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1em;
}
a-text-field > label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25em;
  position: relative;
  align-self: flex-start;
}
a-text-field > div {
  flex-grow: 5;
  flex-basis: 0;
}
a-text-field > div > input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  flex-grow: 1;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  clear: both;
  position: relative;
  text-align: left;
}
a-text-field > div > input:focus {
  outline: none;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
a-text-field > div > input[disabled] {
  cursor: not-allowed;
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}
a-text-field > div > input[readonly] {
  box-shadow: none;
}
a-text-field > div > input:hover {
  border-color: #b5b5b5;
}
a-text-field > div > div {
  display: block;
  font-size: 0.75rem;
  margin: 0.25em 0em;
  height: 1rem;
  color: red;
  visibility: hidden;
}
a-text-field[invalid] > div > input {
  border-color: red;
}
a-text-field[invalid] > div > input:hover {
  border-color: #ff8080;
}
a-text-field:not([invalid]) a-validation-label {
  visibility: hidden;
}
@media screen and (min-width: 769px) {
  a-text-field.is-horizontal {
    flex-direction: row;
    justify-content: flex-start;
  }
  a-text-field.is-horizontal > label {
    margin-top: 0.35em;
    margin-right: 0.5em;
    min-width: 5em;
    max-width: 15em;
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
  }
}

a-validation-label {
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0.25em 0em;
  height: 1rem;
  color: red;
  visibility: visible;
}

.hide-error a-validation-label {
  display: none;
}
a-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1em;
}
a-field > label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25em;
  position: relative;
  align-self: flex-start;
}
a-field > div {
  flex-grow: 5;
  flex-basis: 0;
}
a-field > div > input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  flex-grow: 1;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  clear: both;
  position: relative;
  text-align: left;
}
a-field > div > input:focus {
  outline: none;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
a-field > div > input[disabled] {
  cursor: not-allowed;
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}
a-field > div > input[readonly] {
  box-shadow: none;
}
a-field > div > input:hover {
  border-color: #b5b5b5;
}
a-field > div > div {
  display: block;
  font-size: 0.75rem;
  margin: 0.25em 0em;
  height: 1rem;
  color: red;
  visibility: hidden;
}
a-field[invalid] > div > input {
  border-color: red;
}
a-field[invalid] > div > input:hover {
  border-color: #ff8080;
}
a-field:not([invalid]) a-validation-label {
  visibility: hidden;
}
@media screen and (min-width: 769px) {
  a-field.is-horizontal {
    flex-direction: row;
    justify-content: flex-start;
  }
  a-field.is-horizontal > label {
    margin-top: 0.35em;
    margin-right: 0.5em;
    min-width: 5em;
    max-width: 15em;
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
  }
}


/*# sourceMappingURL=mods.css.map*/