*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  position: relative;
}
*[hidden] {
  display: none;
}
.no-spacing {
  padding: 0;
  margin: 0;
}
.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.text {
  color: #363636;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.label-text {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}
.header {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}
.is-1 {
  font-size: 3rem;
}
.is-2 {
  font-size: 2.5rem;
}
.is-3 {
  font-size: 2rem;
}
.is-4 {
  font-size: 1.5rem;
}
.is-5 {
  font-size: 1.25rem;
}
.is-6 {
  font-size: 1rem;
}
h1 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 3rem;
}
h2 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 2.5rem;
}
h3 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  font-size: 2rem;
}
h4 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1.5rem;
}
h5 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1.25rem;
}
h6 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1rem;
}
.border {
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.3125rem;
  border-color: lightgrey;
  overflow: hidden;
}
.page-container {
  min-width: min(720px, calc(100vw - 20px));
  max-width: 1440px;
  width: 70%;
  margin: auto;
}
.page-container-wide {
  min-width: min(720px, calc(100vw - 20px));
  max-width: 1800px;
  width: 85%;
  margin: auto;
}
.columns {
  flex-wrap: wrap;
}
.column {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 600px;
}
.close-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
}
.close-button::before,
.close-button::after {
  background-color: white;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.close-button::before {
  height: 2px;
  width: 50%;
}
.close-button::after {
  height: 50%;
  width: 2px;
}
.close-button:hover {
  background-color: rgba(10, 10, 10, 0.3);
}

.hide-error > div > div {
  display: none;
}

a-stack-panel {
  display: flex;
  padding: 0.25em;
  margin: 0.25em;
}
a-stack-panel.spacing-none {
  padding: 0;
  margin: 0;
}

.hide-error > div > div {
  display: none;
}
a-text-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1em;
}
a-text-field > label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25em;
  position: relative;
  align-self: flex-start;
}
a-text-field > div {
  flex-grow: 5;
  flex-basis: 0;
}
a-text-field > div > input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  flex-grow: 1;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  clear: both;
  position: relative;
  text-align: left;
}
a-text-field > div > input:focus {
  outline: none;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
a-text-field > div > input[disabled] {
  cursor: not-allowed;
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}
a-text-field > div > input[readonly] {
  box-shadow: none;
}
a-text-field > div > input:hover {
  border-color: #b5b5b5;
}
a-text-field > div > div {
  display: block;
  font-size: 0.75rem;
  margin: 0.25em 0em;
  height: 1rem;
  color: red;
  visibility: hidden;
}
a-text-field[invalid] > div > input {
  border-color: red;
}
a-text-field[invalid] > div > input:hover {
  border-color: #ff8080;
}
a-text-field[invalid] > div > div {
  visibility: visible;
}
@media screen and (min-width: 769px) {
  a-text-field.is-horizontal {
    flex-direction: row;
    justify-content: flex-start;
  }
  a-text-field.is-horizontal > label {
    margin-top: 0.35em;
    margin-right: 0.5em;
    min-width: 5em;
    max-width: 15em;
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
  }
}

a-tooltip {
  visibility: hidden;
  position: absolute;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: white;
  z-index: 1;
  font-size: 1rem;
  padding: 0.5em;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  top: 100%;
  left: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: normal;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
*:hover > a-tooltip {
  visibility: visible;
  opacity: 1;
}

.hide-error > div > div {
  display: none;
}
a-textarea-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1em;
}
a-textarea-field > label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25em;
  position: relative;
  align-self: flex-start;
}
a-textarea-field > div {
  flex-grow: 5;
  flex-basis: 0;
}
a-textarea-field > div > input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  flex-grow: 1;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  clear: both;
  position: relative;
  text-align: left;
}
a-textarea-field > div > input:focus {
  outline: none;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
a-textarea-field > div > input[disabled] {
  cursor: not-allowed;
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}
a-textarea-field > div > input[readonly] {
  box-shadow: none;
}
a-textarea-field > div > input:hover {
  border-color: #b5b5b5;
}
a-textarea-field > div > div {
  display: block;
  font-size: 0.75rem;
  margin: 0.25em 0em;
  height: 1rem;
  color: red;
  visibility: hidden;
}
a-textarea-field[invalid] > div > input {
  border-color: red;
}
a-textarea-field[invalid] > div > input:hover {
  border-color: #ff8080;
}
a-textarea-field[invalid] > div > div {
  visibility: visible;
}
@media screen and (min-width: 769px) {
  a-textarea-field.is-horizontal {
    flex-direction: row;
    justify-content: flex-start;
  }
  a-textarea-field.is-horizontal > label {
    margin-top: 0.35em;
    margin-right: 0.5em;
    min-width: 5em;
    max-width: 15em;
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
  }
}
a-textarea-field > div > textarea {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  flex-grow: 1;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  clear: both;
  position: relative;
  text-align: left;
  height: 6.75em;
  min-height: 2.25em;
  max-height: 32em;
  resize: vertical;
}
a-textarea-field > div > textarea:focus {
  outline: none;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
a-textarea-field > div > textarea[disabled] {
  cursor: not-allowed;
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}
a-textarea-field > div > textarea[readonly] {
  box-shadow: none;
}
a-textarea-field > div > textarea:hover {
  border-color: #b5b5b5;
}
a-textarea-field[invalid] > div > textarea {
  border-color: red;
}
a-textarea-field[invalid] > div > textarea:hover {
  border-color: #ff8080;
}

a-collapse {
  display: flex;
  flex-direction: column;
  background-color: white;
}
a-collapse > a-stack-panel {
  align-self: flex-start;
}
a-collapse-button {
  flex-shrink: 1;
  cursor: pointer;
  user-select: none;
  width: 1em;
  height: 1em;
  display: flex;
  align-self: center;
  margin-right: 0.5em;
}
a-collapse[open] a-collapse-button {
  transform: rotate(90deg);
}
a-collapse.wide > a-stack-panel {
  align-self: stretch;
}

a-toggle-button {
  border: 0.125rem solid lightgrey;
  border-radius: 0.3125rem;
  padding: 0.125rem;
  position: relative;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
a-toggle-button[toggled] {
  border-color: #1e90ff;
  background-color: #1e90ff;
}
a-toggle-button:hover {
  border-color: #1e90ff;
}

.button-spacing {
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}
a-button {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}
a-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
a-button:hover {
  box-shadow: none;
}
a-button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}
a-button.is-primary:hover {
  background-color: #00c4a7;
}
a-button.is-success {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}
a-button.is-success:hover {
  background-color: #22c65b;
}
a-button.is-danger {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
}
a-button.is-danger:hover {
  background-color: #ff2b56;
}
a-button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}
a-button.is-info:hover {
  background-color: #1496ed;
}
a-button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}
a-button.is-link:hover {
  background-color: #276cda;
}
a-button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: #fff;
}
a-button.is-warning:hover {
  background-color: #ffdb4a;
}

a-icon {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
a-icon.is-left {
  margin-right: 0.3em;
}

.hide-error > div > div {
  display: none;
}
a-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1em;
}
a-field > label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25em;
  position: relative;
  align-self: flex-start;
}
a-field > div {
  flex-grow: 5;
  flex-basis: 0;
}
a-field > div > input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  flex-grow: 1;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  clear: both;
  position: relative;
  text-align: left;
}
a-field > div > input:focus {
  outline: none;
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
a-field > div > input[disabled] {
  cursor: not-allowed;
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}
a-field > div > input[readonly] {
  box-shadow: none;
}
a-field > div > input:hover {
  border-color: #b5b5b5;
}
a-field > div > div {
  display: block;
  font-size: 0.75rem;
  margin: 0.25em 0em;
  height: 1rem;
  color: red;
  visibility: hidden;
}
a-field[invalid] > div > input {
  border-color: red;
}
a-field[invalid] > div > input:hover {
  border-color: #ff8080;
}
a-field[invalid] > div > div {
  visibility: visible;
}
@media screen and (min-width: 769px) {
  a-field.is-horizontal {
    flex-direction: row;
    justify-content: flex-start;
  }
  a-field.is-horizontal > label {
    margin-top: 0.35em;
    margin-right: 0.5em;
    min-width: 5em;
    max-width: 15em;
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
  }
}

table {
  background-color: white;
  color: #363636;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead {
  background-color: transparent;
}
table tbody {
  background-color: transparent;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: whitesmoke;
}
table tr:last-child th {
  border-bottom-width: 1px;
  border: 1px solid #dbdbdb;
  padding: 0.5em 0.75em;
  vertical-align: top;
}
table tr:nth-child(even) td,
table tr:nth-child(even) th {
  background-color: #fafafa;
}
table td {
  border: 1px solid #dbdbdb;
  padding: 0.5em 0.75em;
  vertical-align: top;
  text-align: left;
  background-clip: padding-box;
}
table th {
  text-align: left;
}
table > thead > tr > th:not([sortingDisabled]) {
  cursor: pointer;
}
table > thead > tr > th[sort='ascending']:after {
  content: '▲';
}
table > thead > tr > th[sort='descending']:after {
  content: '▼';
}
.th-min-width-normal th {
  min-width: 8rem;
}

a-select {
  height: 2.25em;
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  text-align: left;
}
a-select select {
  background-color: white;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: none;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-top: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: 2.5em;
  position: relative;
  vertical-align: top;
  margin: 0;
}
a-select select:hover {
  border-color: #b5b5b5;
}
a-select:not(.is-loading)::after {
  border: 3px solid #3273dc;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1.125em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: 0.625em;
  z-index: 4;
}
a-select.is-loading::after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  z-index: 4;
  margin-top: 0;
  position: absolute;
  right: 0.625em;
  top: 0.625em;
  -webkit-transform: none;
  transform: none;
}
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


/*# sourceMappingURL=scenarioData.css.map*/