a-modal-background {
  background-color: rgba(10, 10, 10, 0.86);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
  top: 0;
  width: 100%;
  height: 100%;
}

a-modal {
  display: flex;
  flex-direction: column;
}
a-modal > header {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
a-modal > a-content-presenter {
  background-color: white;
  padding: 20px;
  overflow: auto;
}
a-modal > footer {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #dbdbdb;
}


.button-spacing {
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}
a-button {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}
a-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
a-button:hover {
  box-shadow: none;
}
a-button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}
a-button.is-primary:hover {
  background-color: #00c4a7;
}
a-button.is-success {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}
a-button.is-success:hover {
  background-color: #22c65b;
}
a-button.is-danger {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
}
a-button.is-danger:hover {
  background-color: #ff2b56;
}
a-button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}
a-button.is-info:hover {
  background-color: #1496ed;
}
a-button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}
a-button.is-link:hover {
  background-color: #276cda;
}
a-button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: #fff;
}
a-button.is-warning:hover {
  background-color: #ffdb4a;
}

a-icon {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
a-icon.is-left {
  margin-right: 0.3em;
}


/*# sourceMappingURL=tests.css.map*/