@using Microsoft.AspNetCore.Identity;
@using FactorioWebInterface.Data;
@inject UserManager<ApplicationUser> userManger;

@{
    var user = await userManger.GetUserAsync(User);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FactorioWebInterface</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    @RenderSection("head", required: false)
</head>
<body>
    <input type="hidden" name="__username" value="@user.UserName" />
    @RenderBody()
</body>
</html>
