@page
@model FactorioWebInterface.Pages.Admin.AdminsModel
@{
    ViewData["Title"] = "Admins";
}

<div id="app"></div>

@section Scripts{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/admins.css" asp-append-version="true" />
        <script type="text/javascript" src="~/js/admins.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/admins.css" />
        <script type="text/javascript" src="~/js/admins.js"></script>
    </environment>
}