@page
@model FactorioWebInterface.Pages.Admin.BansModel
@{
    ViewData["Title"] = "Bans";
}

<div id="app"></div>
<input id="_username" hidden value="@this.Model.Username" />

@section Scripts{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bans.css" asp-append-version="true" />
        <script type="text/javascript" src="~/js/bans.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bans.css" />
        <script type="text/javascript" src="~/js/bans.js"></script>
    </environment>
}

