@page
@model FactorioWebInterface.Pages.Admin.ModsModel
@{
    ViewData["Title"] = "Mods";
}

@Html.AntiForgeryToken()

<div class="container-fluid">
    <section class="container section">
        <h2 class="title is-2">Mods</h2>
        <p>Mod packs can be selected for use on the server page.</p>
        <p>Click on a mod pack to manage the files.</p>
        <p>You can upload more than one file at a time.</p>
        <p>Uploads must not exceed 1GB.</p>
    </section>
    <section class="container">
        <h2 class="title is-3">Mod Packs</h2>
        <button id="newModPackButton" class="button is-success">
            <span class="icon"><i class="fas fa-folder-plus"></i></span>
            <span>New</span>
        </button>

        <div style="max-height:600px; overflow:auto;">
            <table id="modPacksTable" class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Modified Time</th>
                        <th>Rename</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </section>

    <section id="modPackFilesDiv" class="container section is-invisible">
        <h2 id="currentModPackTitle" class="title is-3"></h2>
        <input id="uploadfileInput" type="file" multiple style="display:none" />
        <div class="field is-grouped">
            <div class="control">
                <button id="uploadFileButton" class="button is-link">
                    <span class="icon"><i class="fas fa-upload"></i></span>
                    <span>Upload Files</span>
                </button>
            </div>
            <div class="control">
                <button id="deleteFileButton" class="button is-danger">
                    <span class="icon"><i class="fas fa-trash"></i></span>
                    <span>Delete Files</span>
                </button>
            </div>
            <div class="control">
                <button id="copyFileButton" class="button is-link">
                    <span class="icon"><i class="fas fa-clone"></i></span>
                    <span>Copy Files</span>
                </button>
            </div>
            <div class="control">
                <button id="moveFileButton" class="button is-link">
                    <span class="icon"><i class="fas fa-share-square"></i></span>
                    <span>Move Files</span>
                </button>
            </div>
            <div class="control">
                <div class=" field-label is-normal">
                    <label class="label">Destination</label>
                </div>
            </div>
            <div class="control">
                <div class="select">
                    <select id="destinationSelect"></select>
                </div>
            </div>
            <div class="control">
                <span id="fileProgressContiner" hidden>
                    Uploading<progress id="fileProgress" class="progress is-info" max="1"></progress>
                </span>
            </div>
        </div>

        <div style="max-height:900px; overflow:auto;">
            <table id="fileTable" class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th><input type="checkbox" /> Select</th>
                        <th>Name</th>
                        <th>Modified Time</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </section>

    <div id="newModPackModal" class="modal">
        <div id="newModPackModalBackground" class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">New Mod Pack</p>
                <button id="newModPackModalCloseButton" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">

                <div class="columns is-centered">

                    <div class="column is-8">
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label for="newModPackModalNameInput" class="label">Name</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input id="newModPackModalNameInput" type="text" class="input" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column" style="flex-grow:0">
                        <button id="newModPackModalCreateButton" class="button is-success">Create</button>
                    </div>

                </div>
            </section>
            <footer class="modal-card-foot"></footer>
        </div>
    </div>

    <div id="renameModPackModal" class="modal">
        <div id="renameModPackModalBackground" class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Rename Mod Pack</p>
                <button id="renameModPackModalCloseButton" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">

                <div class="columns is-centered">
                    <div class="column is-8">

                        <div class="field is-grouped">
                            <label class="label">Old Name:&nbsp;</label>
                            <label id="renameModPackModalOldNameLabel" class="label"></label>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="renameModPackModalNameInput" class="label">New&nbsp;Name</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input id="renameModPackModalNameInput" type="text" class="input" />
                                    </div>
                                </div>
                            </div>

                            <div class="control">
                                <button id="renameModPackModalConfirmButton" class="button is-success">Confirm</button>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <footer class="modal-card-foot"></footer>
        </div>
    </div>

    <div id="deleteModPackModal" class="modal">
        <div id="deleteModPackModalBackground" class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Confirm Delete Mod Pack</p>
                <button id="deleteModPackModalCloseButton" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field is-grouped">
                    <label class="label">Delete mod pack&nbsp;</label>
                    <label id="deleteModPackModalNameLabel" class="label"></label>
                    <label class="label">?</label>
                </div>
                <button id="deleteModPackModalCancelButton" class="button is-primary">Cancel</button>
                <button id="deleteModPackModalConfirmButton" class="button is-danger">Delete</button>
            </section>
            <footer class="modal-card-foot"></footer>
        </div>
    </div>

    @section Scripts{
    <environment include="Development">
        <script type="text/javascript" src="~/js/mods.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/mods.js"></script>
    </environment>
    }
</div>

