@page
@model FactorioWebInterface.Pages.Admin.ScenarioDataModel
@{
    ViewData["Title"] = "ScenarioData";
}

@section head{
    <link rel="stylesheet" href="~/css/scenarioData.css" asp-append-version="true" />
    <script type="module" src="~/js/scenarioData.js" asp-append-version="true"></script>
}

<div id="app"></div>
