@page
@model FactorioWebInterface.Pages.SavesModel
@{
    ViewData["Title"] = "Saves";
}

<div class="container">

    <h2 class="title is-2">Saves</h2>

    <section class="section">
        <p>Reminder: These downloads are save files, typically pre-configured and ready to play. Simply download to your factorio saves folder, keeping the file zipped.</p>
        <p>If you are looking to download our scenario, please visit our Github for the <a href="~/guide">user guide.</a></p>
    </section>    

    <h3 class="title is-3">Start Saves</h3>
    <p>Saves state from <b>before</b> the maps where played.</p>

    @await Html.PartialAsync("_PublicFileTablePartial", Model.StartSaves)

    <h3 class="title is-3">Final Saves</h3>
    <p>Saves state from <b>after</b> the maps where played.</p>
    @await Html.PartialAsync("_PublicFileTablePartial", Model.FinalSaves)

    <h3 class="title is-3">Old Saves</h3>
    <p>Some older saves.</p>
    @await Html.PartialAsync("_PublicFileTablePartial", Model.OldSaves)

    @section Scripts{
        <script type="text/javascript" src="~/js/saves.js"></script>
    }

</div>
