@page
@model FactorioWebInterface.Pages.TestModel
@{
    ViewData["Title"] = "Test";
}

<div id="app"></div>

@section Scripts{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/test.css" asp-append-version="true" />
        <script type="text/javascript" src="~/js/test.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/test.css" />
        <script type="text/javascript" src="~/js/test.js"></script>
    </environment>
}


